{% extends 'base.html' %}

{% block title %}Create a New Poll{% endblock %}

{% block content %}
    
  <div id="header" class="span-24 last"><h1>Create a New Poll!</h1></div>

  <div id="container" class="container"> 

    <div id="polls-new" class="span-24 polls">
        <form action="" method="POST">
        {% if poll_form.errors.extra %}
            <p class="extra_errors">{{ poll_form.errors.extra }}</p>
        {% endif %}
        <p><b>Your Poll:</b>
            <div class="entry">{{ poll_form.question }}</div>
            <div class="tip">(Make it short, sweet, and controversial!)</div>
        </p>
        <p><b>Your Pitch:</b>
            <div class="entry">{{ pitch_form.content }}</div>
            <div class="tip">(Convince others to your side!)</div>
        </p>
        <p> <input type="submit" value="Submit" /></p>
        </form>
    </div>

  </div><!-- end #container -->

{% endblock %}
