{% extends 'base.html' %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/Orbited.js"></script>
    <script type="text/javascript" src="/static/js/JSON.js"></script>
    <script type="text/javascript" src="/static/js/protocols/stomp/stomp.js"></script>
    <script>
        TCPSocket = Orbited.TCPSocket;
        CHANNEL_ID = "{{ CHANNEL_NAME }}";
        CHANNEL_NAME = "/topic/{{ CHANNEL_NAME }}";
        HOST = "{{ HOST }}";
        STOMP_PORT = {{ STOMP_PORT }};
        USERNAME = "{{ user }}";
        SESSION_COOKIE_NAME = "{{ SESSION_COOKIE_NAME }}"; 
    </script>
<script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}

{% block content %}
    <h1 id="pollquestion">Poll: <i>{{ poll.question }}</i></h1><br><br>
    <!--
    TODO:
        - Attach event to editing: send messages, disallow edits for other + timeout
        - Save on  button? Keep revisions. Show in pop-up window.
        - Not logged in: Ajax vote, logged in: Push Vote.
    -->
    <div id="pitch_a" class="pitch span-12">
      <textarea>{{ poll.pitch_a|default:"None. Add one now!" }}</textarea>
      <h2>Pitch A (<span id="votes_a">{{ votes_a }}</span> vote{{ votes_a|pluralize }}):
        <input id="a" class="vote" type="button" value="Vote for A"></input><br>
      </h2>
    </div>

    <div id="pitch_b" class="pitch span-12 last">
      <textarea>{{ poll.pitch_b|default:"None. Add one now!" }}</textarea>
      <h2>Pitch B (<span id="votes_b">{{ votes_b }}</span> vote{{ votes_b|pluralize }}):
        <input id="b" class="vote" type="button" value="Vote for B"></input><br>
      </h2> 
    </div>

{% endblock %}

{% block extrafooter %}
    <link rel="stylesheet" href="/static/chat/chat.css" type="text/css" />
    <script type="text/javascript" src="/static/chat/chat.js"></script>
{% endblock %}
