{% extends 'base.html' %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/Orbited.js"></script>
    <script type="text/javascript" src="/static/js/JSON.js"></script>
    <script type="text/javascript" src="/static/js/protocols/stomp/stomp.js"></script>
    <script>
        TCPSocket = Orbited.TCPSocket;
        CHANNEL_NAME = "/topic/{{ CHANNEL_NAME }}";
        HOST = "{{ HOST }}";
        STOMP_PORT = {{ STOMP_PORT }};
        USERNAME = "{{ user }}";
        SESSION_COOKIE_NAME = "{{ SESSION_COOKIE_NAME }}"; 
    </script>
<script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}

{% block content %}
    <h1>Poll: <i>{{ poll.question }}</i></h1><br><br>

    <!--
    TODO:
        - Attach event to editing: send messages, disallow edits for other + timeout
        - Save on  button? Keep revisions. Show in pop-up window.
        - Not logged in: Ajax vote, logged in: Push Vote.
    -->
    <h2>Pitch A:<input type="button" value="Vote for A"></input><br>
        <textarea>{{ poll.pitch_a|default:"None (Login to add one)" }}</textarea>
    </h2><br>

    <h2>Pitch B:<input type="button" value="Vote for B"></input><br>
        <textarea>{{ poll.pitch_b|default:"None (Login to add one)" }}</textarea>
    </h2><br><br>

    <h3><a href="/polls/new">Create a New Poll</a></h3>
{% endblock %}

{% block extrafooter %}
    <link rel="stylesheet" href="/static/chat/chat.css" type="text/css" />
    <script type="text/javascript" src="/static/chat/chat.js"></script>
{% endblock %}
