#chatbox {
    position:absolute;
    z-index:999;
    bottom:2px;
    right:8px;
    background-color:#EFEFEF;
    border:1px solid #DFDFDF;
    font-family:sans-serif;
    width:200px;
    height:20px;
}
#chatbox p#chat_title {
    padding:4px;
    margin:0px;
    height:14px;
    background-color:#D1D5DF;
    border-bottom:1px solid #DFDFDF;
}
#chatbox span#chat_open, span#chat_close {
    float:right;
    padding-right:4px;
    font-weight:bold;
    cursor:pointer;
}
#chat_type_box {
    margin-left:2px;
    width:184px;
    height:30px;
    position:absolute;
    bottom:-4px;
}
.chatmsg {
    margin:0px;
    padding:2px;
}
#chat_text {
    position:relative;
    height:225px;
    width:194px;
    overflow-y:auto;
    border:none;
}
#chat_box_body {
    display:none;
}
