#container{
    text-align:center;
}
#header {
    text-align:center;
    margin:20px 0px;
}
.polls {
    text-align:center;
}
ul#nav {
    position:relative;
    top:-15px;
    text-align:right
}
ul#nav span {
    font-size:11px;
    color:#11138F;
    padding:0px 2px 0px 6px;
    position:relative;
    top:0px;
}
ul#nav li {
    display:inline;
    text-decoration-none;
}
ul#nav li a {
    color:#11138F;
}
h1#pollquestion {
    text-align:center;
    margin:40px 0px 20px 0px;
}
    
.pitch {
    text-align:center;
}
.pitch h2 {
    text-align:normal;
    margin:0px;
    font-size:20px;
}
.pitch textarea {
    width:300px;
    height:100px;
}


#logout {
    opacity:0.0;
}
