{% extends "base.html" %}

{% block title %}Create an Accout{% endblock %}

{% block content %}

  <div id="header" class="span-24 last"><h1>Create an Account</h1></div>
  
  <div id="container" class="container"> 
  {#{% if form.errors %}<p class="error">Please correct the errors below: {{ form.non_field_errors }}</p>{% endif %}#}
  <form id='createform' method="post" action="">
    {# Uncomment for Django 1.2+: {% csrf_token %} #}
    <p>
      <label for="id_username">Username:</label> {{ form.username }}
      {% if form.username.errors %}
        <span class="error">{{ form.username.errors.as_text }}</span>
      {% endif %}
    </p>
    <p>
      <label for="id_email">Email address:</label>
      {{ form.email }}
      {% if form.email.errors %}
        <span class="error">{{ form.email.errors.as_text }}</span>
      {% endif %}
    </p>
    <p>
      <label for="id_password1">Password:</label>
      {{ form.password1 }}
      {% if form.password1.errors %}
        <span class="error">{{ form.password1.errors.as_text }}</span>
      {% endif %}
    </p>
    <p>
      <label for="id_password2">Password again:</label>
      {{ form.password2 }}
      {% if form.password2.errors %}
        <span class="error">{{ form.password2.errors.as_text }}</span>
      {% endif %}
    </p>
    <p class="submit"><input type="submit" value="Create Account"></p>
  </form>
 
    <p>Already have an account? <a href="/accounts/login/">Sign In here</a>.</p>

  </div><!-- end #container -->

{% endblock %}


